**1. Read and import data**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
dataset = pd.read_csv('./data/salary.csv', sep='|')

In [ ]:
dataset.head(2)

**2. Cleaning the data**

In [ ]:
dataset.info()

In [ ]:
# Check null values
dataset.isnull().sum()

In [ ]:
# Remove Column 
dataset = dataset.drop(labels=["id", "salary_currency", "job_benefits", "job_function", "job_description",
"company_process_time", "company_size", "company_industry", "employment_type"], axis=1)

Cleaning Salary

In [ ]:
# job_title Lowercase
dataset['job_title'] = dataset['job_title'].str.lower()

In [ ]:
# Mengisi data salary yang nan atau null dengan median by job_title
dataset['salary'].fillna(dataset.groupby(['job_title'])['salary'].transform('median'), inplace=True)

# Mengisi data salary yang nan atau null dengan median by location
# dataset['salary'].fillna(dataset.groupby(['location'])['salary'].transform('median'), inplace=True)

# Drop salary nan atau null
dataset.dropna(subset=['salary'], inplace=True)

dataset['salary'] = dataset['salary'].round(0)

Cleaning Experience Level

In [ ]:
# Convert experience_level str => int
dataset["experience_level"] = dataset["experience_level"].str.replace("\D", "").fillna(0).astype('float')

In [ ]:
# Mengisi data experience_level yang 0 dengan median by job_title
dataset['experience_level'].replace(to_replace=0, value=dataset.groupby('job_title')['experience_level'].transform('median'), inplace=True)

In [ ]:
# Classification experience_level
type_exp = []
for i in dataset['experience_level']:
    if i == 0:
        type_exp.append('No Experience')
    elif 1 <= i <= 4:
        type_exp.append('1-4 Years')
    elif 5 <= i <= 9:
        type_exp.append('5-9 Years')
    elif 10 <= i <= 14:
        type_exp.append('10-14 Years') 
    elif 15 <= i <= 19:
        type_exp.append('15-19 Years')            
    else:
        type_exp.append('20+ Years')
dataset['type_of_experience'] = type_exp

In [ ]:
dataset.shape

In [ ]:
# Check null values
dataset.isnull().sum()

In [ ]:
dataset.reset_index(drop=True, inplace=True)
dataset.head(5)

In [ ]:
# Nampilin tipe kolom "Object" & "Number"
objectType  = dataset.select_dtypes(['object']).columns
numericType  = dataset.select_dtypes(['number']).columns
print(objectType)
print(numericType)

In [ ]:
dataset[numericType].describe()

**3. Discovering the data**

In [ ]:
# Size grafik
sns.set(rc={'figure.figsize':(10, 5)})

**4. Predict the salary**

Predict Salary Based on Experience